@import "colors.scss";

#wrapper {
  max-width: 768px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 0 5px #333A33;

  .sgu img {
    padding: 15px;
  }

  .logo {
    max-width: 128px;

    img {
      width: 100%;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}
